body{
  background-color: #f8f9fa;
}

.App {
  text-align: center;
  color: #343a40;
}

.custom-form{
  display: flex;
  flex-direction: column;
  margin: 0 25%;
}

.textbox{
  border: transparent;
  border-bottom: 1px solid #343a4060;
  margin: 0px 5px;
  padding: 10px;
}

.todos-wrapper{
  padding: 10px;
}

.todo-item{
  display: flex;
  width: 50%;
  text-align: left;
  padding: 5px;
  margin: 5px 25%;
  background-color: #343a40;
  color: white;
  border-radius: 3px;
  transition: 0.3s;
}

.todo-item:hover{
  transform: scale(1.02);
}

.btn-group{
  margin-left: auto;
}

.custom-btn{
  margin: 0 2px 3px 2px;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  color: white;
}

.submit{
  background-color: #343a40;
  margin: 5px 25%;
  padding: 10px;
  transition: 0.3s;
}

.submit:hover{
  background-color: #339989;
  transform: translateY(-3px);
  box-shadow: 0px 2px 5px 2px #33998a8f;
}

.delete {
  background-color: #ef233c;
}

.rush {
  background-color: #339989;
}